.custom-navbar{
    margin-left: 15px;
    width: 1090px;
    border-radius: 8px;
    padding: 20px;
}
.trallyicon{
    margin-left: 1000px;
    color: white;
}
h4{
    color: black;
    margin-left: 360px;
}